/* Global styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
  background: #def;
}

/* Editor styles */
.markdown {
  padding: 1rem 2rem;
  display: grid;
  row-gap: 3rem;
}
@media screen and (min-width: 992px) {
  .markdown {
    min-height: 85vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.title{
  display:flex;
  justify-content: space-between;
  padding-top:2rem;
  font-size:2rem;
  border-bottom: 1px solid gray;
}
.input,.result{
  border-radius: 0.25rem;
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  height:100%;
  width: 100%;
  padding: 1rem 2rem;
}
.input {
  border-color: transparent;
  outline: none;
}
.result{
  background-color: #fff;
}
.link{
  text-decoration: none;
  background-color: #abc;
  border-radius: 0.25rem;
}


/* Some unique styles */
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
blockquote {
  font-size: 2rem;
  font-style: italic;
  border-left: 5px solid #617d98;
  color: #617d98;
  padding-left: 2rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
blockquote ::first-letter {
  text-transform: uppercase;
}
pre {
  background: #222;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  color: yellow;
  margin-bottom: 1.5rem;
}
